body,html{
    height: 100%;
    background-image: url("60.jpg");
  }

  img {
    padding: 50px;
    width: 250px;
    right: 30px;
    top:150px;
    height:auto;
      
    }
  
  h1{
      font-size: 60px;
      font-family: sans-serif, cursive;
  }
  
h2{
    font-family: sans-serif;
}

.navigation {
  background-color: #333;
}

.navigation a {
  float: middle;
  color: white;
  text-align: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 50px;
}

.navigation a:hover {
  background-color: #dddd;
  color: black;
}

.navigation a:active {
    color: aqua;
}

.Title {
    font-size: 60px;
    text-align: center;    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.column {
  float: right;
  width: 33.33%;
  padding: 5px;
}
