body,html{
    height: 100%;
    background-image: url("background1.jpg");
  }

  img {
    padding: 50px;
    width: 350px;
    position: absolute;
    right: 30px;
    top:90px;
    max-width:100%;
    height:auto;
  }
  
  h1{
      position: static;
      top:150px;
      left:400px;
      font-family: sans-serif, cursive;
  }
  
h2{
    font-family: sans-serif;
}

a:hover {
    color: fuchsia;
}

a:visited {
    color: coral;
}

